<a routerLink="/movies/new" class="btn btn-primary">New Movie</a>
<div class="py-4 mb-4 d-flex justify-content-center">
  <input placeholder="Search movies" [formControl]="searchField" class="p-2" />
</div>
<div
  class="row row-cols-1 row-cols-md-2 justify-content-center"
  style="row-gap: 1rem"
>
  @for (movie of tmdbMovies$(); track movie.id) {
  <ngm-movie-item
    (commentUpdate)="handleCommentUpdate($event)"
    (movieDelete)="handleMovieDelete($event)"
    (rateMovie)="handleRateMovie($event)"
    [movie]="movie"
  />
  } @empty {
  <div class="d-flex justify-content-center align-items-center gap-3 fs-5">
    <i class="far fa-window-close"></i>
    No movies found
  </div>
  }
</div>
