<div class="card">
  <div class="card-body">
    <h4 class="card-title font-weight-bold">
      {{ movie().title }}
      <small class="movie-year font-weight-normal">({{ movie().year }})</small>
    </h4>
    <div class="card-subtitle mb-2 text-muted text-small">
      {{ movie().genre }}
    </div>
    <hr />
    <div class="row mb-4 w-100">
      <img
        src="{{ movie().poster }}"
        class="col-4 h-100 pr-4"
        alt="movie poster"
      />
      <div class="col-8 card-text text-small">{{ movie().plot }}</div>
    </div>
    @if (editable()) { @if (!state().commentSaved()) {
    <div>
      <textarea
        class="mb-1 w-100"
        placeholder="Comment"
        [(ngModel)]="state().movieComment"
      ></textarea>
      <small
        [style.color]="
          state().movieComment().trim().length === 0 ? 'darkred' : 'darkgreen'
        "
      >
        {{ wordCount(state().movieComment()) }} words
      </small>
    </div>
    } @else {
    <div [hidden]="!state().commentSaved()">
      <label class="font-weight-bold"> Comment: </label>
      <p>{{ state().movieComment() }}</p>
    </div>
    }
    <hr />
    <button
      (click)="saveComment()"
      [disabled]="state().movieComment().trim().length === 0"
      class="btn btn-outline-success"
    >
      <i
        class="fa-solid"
        [class]="state().commentSaved() ? 'fa-pencil-alt' : 'fa-check'"
      ></i>
      {{ state().commentSaved() ? 'Edit' : 'Save' }} comment
    </button>
    <button
      (click)="clearComment()"
      [disabled]="state().movieComment() === ''"
      class="btn btn-outline-warning mx-2"
    >
      <i class="fa-solid fa-ban"></i>
      Clear comment
    </button>
    <a [routerLink]="['/movies', movie().id]" class="btn btn-primary">
      <i class="fa-solid fa-edit"></i>
      Edit
    </a>
    <button (click)="movieDelete.emit(movie().id)" class="btn btn-danger mx-2">
      <i class="fa-solid fa-trash"></i>
      Delete
    </button>
    }
  </div>
</div>
